venv
venv2
.python-version
.vscode
.idea/
build/
.pypirc
.coverage
coverage.xml
.pytest_*
**/*__pycache__*
**/*.DS_Store*
**.pyc
dist
.env
*.db
masonite_inertia.egg-info
node_modules
tests/integrations/storage/compiled/
storage/logs/
