<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Masonite Inertia App 2</title>
  </head>

  <body>
    <div class="bg-indigo-600 py-3 px-3 sm:px-6 lg:px-8 text-white text-center shadow-md">
      <p>We are in another base template: app2.html !</p>
    </div>
    <div id="app" data-page="{{ page | safe }}"></div>
    <script src="/static/js/app.js"></script>
  </body>
</html>
