<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Masonite Inertia{% endblock %}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}
    <h1>masonite-inertia package</h1>
    <p>Browse to <a href="/inertia">here</a> to test different inertia features !</p>
    {% endblock %}
    {% block js %}{% endblock %}
  </body>
</html>
